/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
}

/* Buttons */
button {
    background-color: #474242;
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #1DA851;
  }
  
  button:active {
    background-color: #118638;
  }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 5;
  z-index: 9999;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

nav h3 {
    margin: 0;
    font-size: 1.5rem;
    order: 1; /* move to the right */
  }

#hero {
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-image: url('astronaut-bg.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

#hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    opacity: 0.7; /* adjust the opacity as desired */
    z-index: -1; /* move the pseudo-element behind the other elements */
  }

#hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

#hero h3 {
    font-size: 24px;
    margin-bottom: 40px;
    text-align: right;
    z-index: 1; /* move the "Younus Sajeed" text behind the other elements */
  }

.buttons .btn {
  display: inline-block;
  padding: 12px 24px;
  border: 2px solid #fff;
  border-radius: 50px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 10px;
  transition: all 0.3s ease;
}

.buttons .btn:hover {
  background-color: #fff;
  color: #000;
}

/* Planet animation */
.planet {
  position: absolute;
  width: 100px;
  height: 100px;
  background-image: url('planet.png');
  background-size: cover;
  animation-name: planet;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.planet1 {
  top: 200px;
  left: 200px;
}

.planet2 {
  top: 400px;
  left: 600px;
}

.planet3 {
  top: 600px;
  left: 1000px;
}

@keyframes planet {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
